<div>
		<div class="row" ng-show="selectedProfile !== 'null'">

		<div class="col-xs-3">
			<!-- vide -->
		</div>

		<div class="panel panel-warning panel-warning-changes col-xs-6">
			<div class="panel-heading">
				User info
			</div>

			<div class="panel-body">
				<form method="POST" name="updateUser" class="form-inline">
					<div>
						<div class="form-group input-user-infos">
							<label class="label-user-infos">Firstname</label>
							<input type="text" class="form-control input-user-infos1" value="{{user.firstname}}" id="firstname" name="firstname">
						</div>
					</div>
					<div>
						<div class="form-group input-user-infos">
							<label class="label-user-infos">Lastname</label>
							<input type="text" class="form-control input-user-infos1" value="{{user.lastname}}" id="lastname" name="lastname">
						</div>
					</div>
					<div>
						<div class="form-group input-user-infos">
							<label class="label-user-infos" style="margin-right: 28">Email</label>
							<input type="text" class="form-control input-user-infos1" value="{{user.email}}" id="lastname" name="email">
						</div>
					</div>
					<div>
						<div class="form-group input-user-infos">
							<label class="label-user-infos">Password</label>
							<input type="password" class="form-control input-user-infos1" value="password" id="lastname" name="email">
						</div>
					</div>

					<div>
						<div class="form-group input-user-infos">
							<label class="label-user-infos" style="margin-right: 37">Points</label>
							<span>{{user.points}}</span>
						</div>
					</div>

					<hr width="100%" height="1px">
					<button class="btn btn-success pull-right">Update User</button>
				</form>
			</div>
		</div>
	</div>
	<div ng-repeat="thread in threads">
		<div class="panel panel-default">
			<div class="panel-heading">
				Par <a href="">{{thread.author.firstname}} {{thread.author.lastname}}</a> 
					<span class="timeAgo" >
						<span class="glyphicon glyphicon-time"></span> {{thread.date | timeAgo }}
					</span>

					<span class="glyphicon glyphicon-ok" ng-show="thread.state === 'closed'" title="Résolu" style="color: green; margin-left:12px;"></span>

					<button class="btn btn-default pull-right" ng-click="getMessage(thread._id)"><span class="glyphicon glyphicon-resize-full"></span></button>

					<a href="#/thread/{{thread._id}}" class="pull-right repondre" title="Répondre">
						répondre
					</a>
			</div>
			<div class="panel-body">
				<span class="title-thread">{{thread.title}}</span>

				<pre class="list-question-pre" ng-if="thread._id === firstMessage.thread">{{firstMessage.text}}</pre>
			</div>
		</div>


	</div>
	<center><img src="../images/doigt.png" width="240" height="200" ng-show="selectedSection === null" class="doigt"/></center>

</div>

