<div class="mainView">
	<form name="threadForm" ng-submit="threadSubmit();">
		<div class="form-group">
			<label>Sujet</label>
			<input type="text" required class="form-control" name="title" placeholder="matière, sujet, contrôle..."ng-model="thread.title" ng-maxlength="300" maxlength="300">
		</div>

		<div class="form-group">
			<label>Question</label>
			<textarea name="text" required id="" cols="30" rows="10" placeholder="Quelle est votre question ?" class="form-control" style="height:100px;"ng-model="thread.text" ng-maxlength="5000" maxlength="5000"></textarea>
		</div>
		<button class="btn btn-info" type="submit">Envoyer</button>
	</form>
</div>