
<center><font class="question-resolu" ng-show="thread.state === 'closed'">Cette question a été résolu !</font></center>
<div class="panel panel-default">
	<div class="panel-heading">
		Par <a href="">{{thread.author.firstname}} {{thread.author.lastname}}</a> 
			<span class="timeAgo" >
				<span class="glyphicon glyphicon-time"></span> {{thread.date | timeAgo }}
			</span>
			<span class="pull-right reponse"> {{thread.messages.length-1}} réponse(s)</span>

	</div>
	<div class="panel-body">
		<h3>
			 {{thread.title}}

		</h3>
		<pre class="list-question-pre" >{{thread.messages[0].text}}</pre>
	</div>
</div>
<div>
	<div class="panel panel-info" ng-repeat="message in thread.messages" ng-if="$index !== 0">

		<div class="panel panel-heading">
			<a href="">{{message.author.firstname}} {{message.author.lastname}}</a>
			 <span class="timeAgo">{{message.date | timeAgo}}</span>
			<font class="pull-right resolu" ng-if="user._id === thread.author._id && user._id !== message.author._id && thread.state !== 'closed' " ng-click="addPoint(message)" >
				marquer comme résolu
			</font>
		</div>
		<div class="panel-body">
			<pre>{{message.text}}</pre>
		</div>
	</div>
	<div class="panel panel-default" ng-show="thread.state !== 'closed' ">
		<div class="panel-heading">Répondre</div>
		<div class="panel-body">
			<form name="messageForm" ng-submit="sendMessage()">
				
				<textarea required class="form-control" ng-minlength="1" cols="30" rows="10" ng-model="messageInput" style="height:100px;"></textarea>
				<button type="submit" class="btn btn-primary pull-right poster">poster</button>
			</form>
		</div>
	</div>
</div>

